@import "../../base.scss";
.track-item {
  display: flex;
  position: relative;
  cursor: pointer;
  .img-container {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.42620798319327735) 0%,
        rgba(172, 175, 186, 0) 100%
      );
    }
    @include transition();
    &:hover {
      transform: scale(1.03);
    }
  }
  &__cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
  }
  &__title {
    position: absolute;
    cursor: pointer;
    color: $text-color;
    left: 10px;
    top: 10px;
    text-align: left;
  }
}
