@import "../../base.scss";
.music-app-home {
  padding-left: 280px;
  background-color: #191923;
  @include transition();
  &--full {
    padding-left: 80px;
  }
  &__container {
    padding: 20px 40px;
    padding-bottom: 80px;
    min-height: 100vh;

    &__likes,
    &__playlists {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 30px;
    }
  }
}
