.scroll-item {
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  width: 240px;
  text-align: center;
  .scroll-item-span {
    position: relative;
    left: 0px;
    width: 100%;
    line-height: 10px;
    transform: translateX(0%);
    transition: left 0.25s ease;
  }
}
