.audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  border: 1px solid;
  &__container {
    position: relative;
    height: 100%;
    padding: 4px;
    &__meta {
      padding: 4px;
      display: inline-grid;
      grid-template-columns: 50px minmax(200px, 300px);
      grid-column-gap: 8px;
      align-items: center;
      img {
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 4px;
      }
      .info {
      }
    }
    .timer-container {
      position: absolute;
      top: -10px;
      z-index: 999;
      left: 0;
      width: 100%;
      input {
        width: 100%;
      }
    }
  }
}
